<div class="container content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <h4>Databases</h4>
        </div>
        <div class="col-sm-6">
          <form ng-submit="search()">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for Database" ng-model="searchCreds.Info">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search()">Search</button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div>
      </div>
    </div>
    <div class="panel-body" ng-show="isSearching || isEditing">
      <div id="searchResults" ng-show="isSearching">
        <button class="btn btn-success" ng-click="addDB()">Add new Database</button>
        <br />
        <br />
        <div class="table-responsive">
          <table class="table table-striped table-condensed">
            <tr>
              <th>Edit</th>
              <th>DB Name</th>
              <th>Type</th>
              <th>Host</th>
              <th>Port</th>
              <th>SSL</th>
            </tr>
            <tr ng-repeat="db in searchResults">
              <td><button class="btn btn-primary" ng-click="edit($index)">Edit</button></td>
              <td>{{db.Name}}</td>
              <td>{{db.Type}}</td>
              <td>{{db.Host}}</td>
              <td>{{db.Port}}</td>
              <td>
                <span class="glyphicon glyphicon-ok" style="color:green;" ng-show="db.ForceSSL==1"></span>
                <span class="glyphicon glyphicon-remove" style="color:red;" ng-hide="db.ForceSSL==1"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="EditPanel" ng-show="isEditing" class="container-fluid">
        <p class="text-muted" ng-click="isEditing=false; isSearching=true" style="cursor: pointer;"><span class="glyphicon glyphicon-menu-up"></span><strong> up to databases</strong></p>
        <form class="simpleForm" name="databaseform">
          <div class="row">
            <div class="col-sm-8">
              <h3>Database Info</h3>
              <div class="input-group" ng-class="{'has-error': (databaseform.name.$invalid && databaseform.name.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Name</strong></span>
                <input type="text" class="form-control" name="name" placeholder="Database Name" ng-model="database.Name" required>
              </div>
              <div class="input-group" ng-class="{'has-error': (databaseform.type.$invalid && databaseform.type.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Type</strong></span>
                <select class="selectpicker form-control" title="type" name="type" ng-model="database.Type">
                  <option>mysql</option>
                  <option>aurora</option>
                  <option>mssql</option>
                </select>
              </div>
              <div class="input-group" ng-class="{'has-error': (databaseform.host.$invalid && databaseform.host.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Host</strong></span>
                <input type="text" class="form-control" name="host" placeholder="Database URL" ng-model="database.Host" required>
              </div>
              <div class="input-group" ng-class="{'has-error': (databaseform.port.$invalid && databaseform.port.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Port</strong></span>
                <input type="text" class="form-control" name="port" placeholder="Database Port" ng-model="database.Port" required>
              </div>
              <div class="input-group" ng-show="database.Type.toLowerCase()==='mysql' || database.Type.toLowerCase()==='aurora'">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Force SSL</strong></span>
                <input type="checkbox" class="form-control" name="forcessl" ng-model="database.ForceSSL" ng-true-value="1" ng-false-value="0">
              </div>
              <div class="input-group" ng-class="{'has-error': (databaseform.sauser.$invalid && databaseform.sauser.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>SA User</strong></span>
                <input type="text" class="form-control" name="sauser" placeholder="Root Username" ng-model="database.SAUser" required>
              </div>
              <div class="input-group" ng-if="!database.ID || editing_pass" ng-class="{'has-error': (databaseform.password.$invalid && databaseform.password.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Password</strong></span>
                <input type="password" class="form-control" name="password" placeholder="Root Password" ng-model="database.SAPass" ng-required="!database.ID">
              </div>
              <br />
              <button class="btn" ng-show="database.ID && !editing_pass" ng-click="change_pass()">Change SA Password</button>
              <button class="btn btn-danger" ng-show="editing_pass" ng-click="cancel_change_pass()">Cancel</button>
            </div>
            <div class="col-sm-1">&nbsp;</div>
          </div>
          <br />
          <div class="row">
            <div class="col-xs-3">
              <button class="btn btn-success" ng-click="saveDB()" ng-disabled="databaseform.$invalid || nochange()">Save Changes</button>
            </div>
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-5">
              <button class="btn btn-danger" ng-click="removeDB()" ng-disabled="!database.ID">Delete Database</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
