<div class="container content">
    <div class="row">
    	<div class="col-xs-1">&nbsp;</div>
    	<div class="col-xs-10">
        <h3 align="left">Errors</h3>
        <div class="row">
          <div class="col-md-6">
            <h4 ng-show="results.length<1">No Errors Here!</h4>
          </div>
          <div class="col-md-6 pull-right">
            <div class="col-sm-5">
              <button class="btn btn-danger" ng-click="dismissAll()" ng-disabled="results.length<1">Dismiss All</button>
            </div>
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-5">
              <button class="btn btn-success" ng-click="retryAll()" ng-disabled="results.length<1">Retry All</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="panel" ng-repeat="info in results track by $index"
        ng-class="{'panel-success': info.Class=='Success','panel-warning': info.Class=='Warning','panel-danger': info.Class=='Error','panel-info': info.Class=='Info'}">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-remove" ng-click="dismiss($index)"></span>
              {{info.Title}}
              <a class="pull-right" ng-click="info.Show=!info.Show" style="cursor:pointer;"><span class="text-muted">more info...</span></a>
            </h3>
          </div>
          <div class="panel-body" ng-show="info.Show">
            <p><strong>User:</strong> {{info.Username}}</p>
            <p><strong>Database:</strong> {{info.Database}}</p>
            <p>{{info.Details}}</p>
            <hr>
            <button class="btn btn-success" ng-click="retry($index)" ng-disabled="!info.Retryable">Retry</button>
          </div>
        </div>
      </div>
    	<div class="col-xs-1">&nbsp;</div>
    </div>
</div>
