<div class="container content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <h4>Users</h4>
        </div>
        <div class="col-sm-6">
          <form ng-submit="search(0)">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for user" ng-model="searchCreds.Info">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search(0)">Search</button>
              </span>
            </div><!-- /input-group -->
          </form>
        </div>
      </div>
    </div>
    <div class="panel-body" ng-show="isSearching || isEditing">
      <div id="searchResults" ng-show="isSearching">
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <tr>
              <th>Add/Edit</th>
              <th>Username</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
            <tr ng-repeat="user in searchResults track by $index" ng-class="{'success':user.Active, 'warning':!user.Active}" >
              <td><button class="btn" ng-click="edit($index)" role="button" ng-class="{'btn-success':user.Active, 'btn-warning':!user.Active}">{{user.Active==1? 'Edit' : 'Add'}}</button></td>
              <td>{{user.Username}}</td>
              <td>{{user.FirstName}}</td>
              <td>{{user.LastName}}</td>
              <td>{{user.Email}}</td>
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col-xs-2">&nbsp;</div>
          <div class="col-xs-8 text-center">
            <nav>
              <ul class="pagination pagination-lg">
                <li>
                  <a style="cursor:pointer;" ng-click="search(0)">First</a>
                </li>
                <li ng-repeat="page in pages track by $index" ng-class="{'active': page==currpage}">
                  <a style="cursor:pointer;" ng-click="search(page-1)">{{page}}</a>
                </li>
                <li>
                  <a style="cursor:pointer;" ng-click="search(numpages-1)">Last</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-2">&nbsp;</div>
        </div>
      </div>
      <div id="EditPanel" ng-show="isEditing" class="container-fluid">
        <p class="text-muted" ng-click="isEditing=false; isSearching=true" style="cursor: pointer;"><span class="glyphicon glyphicon-menu-up"></span><strong> up to users</strong></p>
        <form class="simpleForm" name="userform">
          <div class="row">
            <div class="col-sm-4">
              <h3>User Info</h3>
              <div class="input-group" ng-class="{'has-error': (userform.username.$invalid && userform.username.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Username</strong></span>
                <input type="text" class="form-control" name="username" placeholder="Username" ng-model="user.Username" disabled>
              </div>
              <div class="input-group" ng-class="{'has-error': (userform.firstname.$invalid && userform.firstname.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>First Name</strong></span>
                <input type="text" class="form-control" name="firstname" placeholder="First name" ng-model="user.FirstName" disabled>
              </div>
              <div class="input-group" ng-class="{'has-error': (userform.lastname.$invalid && userform.lastname.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Last Name</strong></span>
                <input type="text" class="form-control" name="lastname" placeholder="Last name" ng-model="user.LastName" disabled>
              </div>
              <div class="input-group" ng-class="{'has-error': (userform.email.$invalid && userform.email.$dirty)}">
                <span class="input-group-addon" style="min-width:100px; text-align:left;"><strong>Email</strong></span>
                <input type="email" class="form-control" name="email" placeholder="Email" ng-model="user.Email" disabled>
              </div>
              <hr>
              <p class="text-danger" ng-show="user.hasmysql + user.hasmssql < 1"><strong>User has not set a password</strong></p>
              <!--<p class="text-muted"><em>more user info will go here...</em></p>-->
            </div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-7">
              <h3>Groups</h3>
              <div class="table-responsive" style="overflow-y: scroll;">
                <table class="table table-striped table-condensed">
                  <tr>
                    <th class="col-xs-1">Add</th>
                    <th>Name</th>
                    <th>SU</th>
                    <th>DBA</th>
                    <th>RW</th>
                    <th>RO</th>
                    <th class="col-xs-2">Group Admin</th>
                  </tr>
                  <tr ng-repeat="group in groups" ng-if="isAdmin(group.Group_ID)">
                    <td class="col-xs-1"><input type="checkbox" ng-model="group.Checked" ng-change="groupChanged(group)" ng-disabled="!isAdmin(group.Group_ID)"></td>
                    <td class="col-xs-4" ng-class="{'text-muted': !isAdmin(group.Group_ID)}">{{group.Name}}</td>
                    <td class="col-xs-1"><input type="radio" name="{{group}}" value="SU" ng-disabled="!isAdmin(group.Group_ID) || !group.Checked" ng-model="group.Permissions" ng-required="group.Checked && !group.Permissions"></td>
                    <td class="col-xs-1"><input type="radio" name="{{group}}" value="DBA" ng-disabled="!isAdmin(group.Group_ID) || !group.Checked" ng-model="group.Permissions" ng-required="group.Checked && !group.Permissions"></td>
                    <td class="col-xs-1"><input type="radio" name="{{group}}" value="RW" ng-disabled="!isAdmin(group.Group_ID) || !group.Checked" ng-model="group.Permissions" ng-required="group.Checked && !group.Permissions"></td>
                    <td class="col-xs-1"><input type="radio" name="{{group}}" value="RO" ng-disabled="!isAdmin(group.Group_ID) || !group.Checked" ng-model="group.Permissions" ng-required="group.Checked && !group.Permissions"></td>
                    <td class="col-xs-1 text-center"><input type="checkbox" ng-disabled="!isAdmin(group.Group_ID) || !group.Checked" ng-model="group.GroupAdmin" ng-true-value="1" ng-false-value="0"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-xs-5">
              <button class="btn btn-success" ng-click="saveUser()" ng-disabled="userform.$invalid || nochange()">{{user.Active ? 'Save Changes' : 'Add User'}}</button>
            </div>
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-3">
              <button class="btn btn-danger" ng-disabled="!user.Active" ng-click="removeUser()">Delete User</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
