<div class="container">
  <div class="row">
    <div class="col-md-8">
      Put intro information here
    </div>
    <div class="col-md-4">
      <div class="row" style="background-color:#DBDBDB; border:outset 4px; padding:2px 10px 2px 10px;">
        <div class="form-group" ng-show="loggingIn">
          <h3>Log In</h3>
          <form class="simple-form" name="loginform" ng-submit="loginform.$valid && logIn()" novalidate>
            <div class="input-group form-group" ng-class="{'has-error': (loginform.username.$invalid && loginform.username.$dirty)}">
              <span class="input-group-addon" id="username" style="text-align:left; min-width:100px;"><b>Username</b></span>
              <input type="text" class="form-control" placeholder="Username" name="username" ng-model="auth.Username" required />
            </div>
            <div class="input-group form-group" ng-class="{'has-error': (loginform.password.$invalid && loginform.password.$dirty)}">
              <span class="input-group-addon" id="Password" style="text-align:left; min-width:100px;"><b>Password</b></span>
              <input type="password" class="form-control" placeholder="Password" name="password" ng-pattern="/\S{8,}/i" ng-model="auth.Password" required />
            </div>
          </form>
          <a href="javascript:void(0)" ng-click="loggingIn=false" class="pull-right"><em><u>Forgot your password?</u></em></a>
          <br />
          <hr>
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="logIn()" ng-disabled="loginform.$invalid">Log in</button>
        </div>
        <!-- forgot form -->
        <div class="form-group" ng-show="!loggingIn">
          <h3>Forgot Your Password</h3>
          <form class="simple-form" name="forgotform" ng-submit="forgotform.$valid && forgot()" novalidate>
            <div class="input-group form-group" ng-class="{'has-error': (forgotform.email.$invalid && forgotform.email.$dirty)}">
              <span class="input-group-addon" id="email" style="text-align:left; min-width:100px;"><b>Email</b></span>
              <input type="email" class="form-control" placeholder="Email" name="email" ng-model="forgot.Email" required />
            </div>
          </form>
          <a href="javascript:void(0)" ng-click="loggingIn=true" class="pull-right"><em><u>Log in instead?</u></em></a>
          <br />
          <hr>
          <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="forgot()" ng-disabled="forgotform.$invalid">Send Reset Email</button>
        </div>
      </div>
      <div class="row">
        <div class="alert alert-dismissible" role="alert" ng-if="loginResult" ng-class="{'alert-danger': !loginResult.Success, 'alert-success': loginResult.Success}">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{loginResult.Message}}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
